@import "tailwindcss";

#University {
  width: 125px;
  max-width: 250px;
}
#state {
  width: 85px;
  max-width: 250px;
}

dialog::backdrop {
  @apply bg-black/40;
  backdrop-filter: blur(4px);
}

#district {
  width: 110px;
  max-width: 250px;
}

#institution {
  width: 125px;
  max-width: 250px;
}

#programme {
  width: 137px;
  max-width: 250px;
}
